.stopwatch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.time {
  font-family: monospace;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0 20px;
}

.controls {
  display: flex;
  gap: 20px;
}

.controls button {
  display: block;
  width: 68px;
  height: 68px;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
}

.controls button:hover {
  background-color: #fff;
  color: #000;
}
