body {
  margin: 0 auto;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  background-image: url("/public/press-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

span {
  font-size: 50px;
  font-weight: 600;
}
